.homeLayout {
  width: 100%;
  height: 100vh;
  color: rgb(255, 255, 255);
  background-image: url(./Images/homebanner.jpg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: brightness(0.4);
  position: absolute;
}

.hcontent {
  position: relative;
  width: 100%;
  height: 100vh;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeHeading {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  font-size: 3.8rem;
  margin-bottom: 1.2rem;
}
.homepara {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  padding: 0rem 7rem;
}
.commonheading {
  text-transform: capitalize;
  font-weight: 800;
  font-family: "Cormorant Garamond";
  font-size: 2.5rem;
}

.aboutLayout {
  margin: 5rem 0;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(./Images/abtt.jpg);
}
.abtpara {
  margin-top: 2rem;
  background-color: white;
  padding: 4rem 4rem;
  border-radius: 0.7rem;
  font-weight: 300;
  font-size: 1.4rem;
}
.serv {
  margin-top: 2.5rem;
  display: block;
  margin-bottom: 2.5rem;
  text-align: center;
}

.serviceLayout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 100%;
  height: 50vh;
  padding: 0.5rem;
  margin: 0rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: none;
  cursor: pointer;
}

.sIcons {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  height: 100%;
  transition: all 0.3s ease-out;
  position: relative;
  filter: brightness(0.5);
}
.servTxter {
  position: absolute;
  color: white;
  bottom: 50px;
}

.itemheading {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-top: 0rem;
  padding: 0;
  font-weight: 700;
  font-family: "Cormorant Garamond";
}
.flipo {
  font-weight: 700;
  background-color: #ffffff;
  color: #1a1a1a;
  padding: 0.5rem 1.2rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  position: relative;
  margin: 0;
  border-radius: 0.2rem;
  cursor: pointer;
}
.readmore {
  background-color: rgb(255, 255, 255);
  padding: 0 1.5rem;
  text-align: center;
}

.workLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.wimager,
.hImg,
.wTxter {
  width: 100%;
}

.testimonials {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.headd {
  font-family: "Cormorant Garamond";
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}
.quest {
  font-size: 1.7rem;
  font-weight: 800;
}

.flxer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.servcontent {
  font-size: 1.2rem;
}
.feedbacker {
  margin-top: 2.5rem;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.faqs {
  margin-top: 1rem;
  width: 100%;
  padding: 0rem 2rem;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.divverr {
  text-align: left;
}
.marginer {
  margin-bottom: 3rem;
}

.feedbacker:hover {
  transform: translateY(-15px);
}

.newsletter {
  background-color: #0d2ea3;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin: 5rem 0;
}
.news {
  margin-bottom: 2rem;
}
.inputere {
  width: 55%;
  outline: none;
  border: none;
  text-indent: 1rem;
  padding: 0.5rem;
}

.btner {
  outline: none;
  border: none;
  width: 150px;
  padding: 0.5rem;
  background-color: #00a3ff;
  color: white;
  font-weight: 600;
}
a {
  color: rgb(43, 43, 43);
}

.footerwaLink {
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
}

.ftriconerrr {
  color: #44c654;
}

.explore{
font-weight: 600;
}

@media screen and (max-width: 1020px) {
  .homeLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .homeHeading {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .homepara {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    padding: 0rem 1.5rem;
  }
  .commonPara {
    margin-top: 0.8rem;
    font-size: 1rem;
  }
  .aboutLayout {
    padding-top:5rem;
    margin: 4rem 0;
  }
  .serviceLayout {
    padding-top:2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .serv {
    margin-bottom: 0.5rem;
  }
  .card {
    margin: 0.5rem 0;
    height: 30vh;
  }

  .inputere {
    width: 100%;
  }
/*   .wimager,
  .hImg {
   width:100%
  } */

  .workLayout{
    flex-direction: column;
    padding-top:5rem;
  }
  
  .wTxter {
    width: 100%;
  }
  .servcontent {
    font-size: 1rem;
  }
  .quest {
    font-size: 1.1rem;
    font-weight: 800;
  }
  .explore{
    width:"100%";
    text-align: center;
  }
  .btns {
    justify-content: center;
    align-items: center;
  }
  .mobilescreen {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}

.btns {
  display: flex;
  gap: 1.5rem;
}
.btnn {
  width: 9rem;
  padding: 0.5rem 1.2rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.comm {
  background-color: #00a3ff;
  color: white;
}
.anim:hover {
  background-color: #202020;
  color: white;
}
.anim {
  color: #263238;
}
.comm:hover {
  background-color: #263238;
  color: white;
}
